/* Navbar.css */

.navbar {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: #fff;
    height: 60px;
    position: sticky;  /* Make the navbar sticky */
    top: 0;            /* Stick to the top of the viewport */
    z-index: 1000; 
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-profile a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 41px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: right;
      padding-right: 20px;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-hamburger {
      display: flex;
  }
}
