/* Navbar.css */
.navbar {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: #fff;
    height: 60px;
    position: sticky;  /* Make the navbar sticky */
    top: 0;            /* Stick to the top of the viewport */
    z-index: 1000; 
}

.navbar-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-profile a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 41px;
      right: 0;
      background-color: #333;
      width: 100%;
      text-align: right;
      padding-right: 20px;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-hamburger {
      display: flex;
  }
  .sidebar {
    width: 80px;
}

.sidebar.collapsed {
    width: 80px;
}
}

/* Sidebar.css */

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: width 0.3s;
  z-index: 9999;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar .toggle-btn {
  background-color: #333;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-top: 3px solid #222;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-item {
  position: relative; /* Necessary for tooltip positioning */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
}

.sidebar-item:hover {
  background-color: #444;
}

/* Tooltip styles */
.sidebar-item .tooltip {
  position: absolute;
  left: calc(100% + 10px); /* Position tooltip outside of sidebar */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.sidebar-links li span {
  margin-left: 10px;
  font-size: 18px;
}

.sidebar-logout {
  margin-top: auto;
}

